<header class="header-continer">
  <div class="header-main">
    <ul class="header-main__links">
      <!-- i don`t know how to better name link element for understanding -> links__element or links__link  -->
      <li class="links__link header-main__links"><a routerLink="/fullpage">{{translation.mainLinks.l1}}</a></li>
      <li class="links__link header-main__links"><a routerLink="/blue">{{translation.mainLinks.l2}}</a></li>
      <li class="links__link header-main__links"><a routerLink="/footerM">{{translation.mainLinks.l3}}</a></li>
      <li class="links__link header-main__links">
        <select class="links__link header-main__links" name="" id="">
          <option value="">{{translation.mainLinks.l4}}</option>
          <option value="">{{translation.mainLinks.l5}}</option>
        </select>
      </li>
      <li class="links__link header-main__links"><span>{{(time|date)}}</span></li>
    </ul>
  </div>
  <div class="header-additional">
    <div class="logo header-additional__logo">
      <a href="">{{translation.logo1}} <span> {{translation.logo2}} </span></a>
      <ul class="header-additional-links">
        <li class="links__link header-additional__link"><a routerLink="/fullpage" fragment="footer">{{translation.additionalLinks.l1}}</a></li>
        <li class="links__link header-additional__link"><a href="">{{translation.additionalLinks.l2}}</a></li>
        <li class="links__link header-additional__link">
          <a href="">{{translation.additionalLinks.l3}}</a>
        </li>
        <li class="links__link header-additional__link">
          <a href="">{{translation.additionalLinks.l4}}</a>
        </li>
        <li class="links__link header-additional__link">
          <a href=""> {{translation.additionalLinks.l5}}</a>
        </li>
        <li class="links__link header-additional__link">
          <a href=""> {{translation.additionalLinks.l6}}</a>
        </li>
      </ul>
    </div>
  </div>
</header>


