<footer class="footer">
  <a class="logo footer__logo" href=""
    >monobank <span> Universal bank </span></a
  >
  <p class="content__text footer__text">
    Щоб стати клієнтом, потрібно мати смартфон на Android або iOS
  </p>
  <ul class="elements footer__elements-container">
    <li class="elements-container__element footer__element">
      <h3 class="element__header footer__header">Банк</h3>
      <ul class="element__links footer__links">
        <li class="links__link footer__link"><a href="">Про банк</a></li>
        <li class="links__link footer__link"><a href="">Кар'єра</a></li>
        <li class="links__link footer__link"><a href="">Контакти</a></li>
        <li class="links__link footer__link">
          <a href="">Умови, правила та тарифи</a>
        </li>
        <li class="links__link footer__link"><a href="">Безпека</a></li>
        <li class="links__link footer__link"><a href="">API</a></li>
      </ul>
    </li>
    <li class="elements-container__element footer__element">
      <h3 class="element__header footer__header">Картки</h3>
      <ul class="element__links footer__links">
        <li class="links__link footer__link"><a href="">Чорна картка</a></li>
        <li class="links__link footer__link"><a href="">Біла картка</a></li>
        <li class="links__link footer__link"><a href="">Platinum картка</a></li>
        <li class="links__link footer__link"><a href="">IRON картка</a></li>
        <li class="links__link footer__link"><a href="">Дитяча картка</a></li>
        <li class="links__link footer__link">
          <a href="">єПідтримка</a> <span>NEW</span>
        </li>
      </ul>
    </li>
    <li class="elements-container__element footer__element">
      <h3 class="element__header footer__header">Продукти</h3>
      <ul class="element__links footer__links">
        <li class="links__link footer__link">
          <a href="">Покупка частинами</a>
        </li>
        <li class="links__link footer__link"><a href="">Розстрочка</a></li>
        <li class="links__link footer__link">
          <a href="">Міжнародні перекази</a>
        </li>
        <li class="links__link footer__link"><a href="">ФОП</a></li>
        <li class="links__link footer__link"><a href="">Депозити</a></li>
        <li class="links__link footer__link">
          <a href="">Оплата у ресторанах</a>
        </li>
        <li class="links__link footer__link">
          <a href="">Реєстрові виплати</a>
        </li>
        <li class="links__link footer__link">
          <a href="">Облігації </a><span>NEW</span>
        </li>
        <li class="links__link footer__link">
          <a href="">Інвестиції </a><span>NEW</span>
        </li>
        <li class="links__link footer__link">
          <a href="">QR-еквайринг</a><span>NEW</span>
        </li>
        <li class="links__link footer__link">
          <a href="">Інтернет-еквайринг </a><span>NEW</span>
        </li>
      </ul>
    </li>
    <li class="elements-container__element footer__element">
      <div>
        <a href="">
          <svg>
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h16v16H0z"></path>
              <path
                d="M9.393 16V8.702h2.449l.367-2.845H9.393V4.041c0-.823.228-1.384 1.41-1.384l1.505-.001V.111A20.41 20.41 0 0 0 10.114 0C7.943 0 6.456 1.326 6.456 3.76v2.097H4v2.845h2.456V16h2.937z"
                fill="currentColor"
                fill-rule="nonzero"
              ></path>
            </g>
          </svg> </a
        ><a href="">
          <svg>
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h16v16H0z"></path>
              <path
                d="M16 3.538c-.589.26-1.22.438-1.885.517a3.296 3.296 0 0 0 1.443-1.815 6.617 6.617 0 0 1-2.086.797A3.282 3.282 0 0 0 7.88 6.029 9.318 9.318 0 0 1 1.115 2.6 3.257 3.257 0 0 0 .67 4.25a3.28 3.28 0 0 0 1.46 2.732A3.283 3.283 0 0 1 .644 6.57v.041A3.286 3.286 0 0 0 3.276 9.83a3.325 3.325 0 0 1-.864.115 3.15 3.15 0 0 1-.618-.061 3.284 3.284 0 0 0 3.065 2.28 6.585 6.585 0 0 1-4.076 1.402c-.265 0-.526-.016-.783-.045a9.278 9.278 0 0 0 5.031 1.477c6.038 0 9.338-5.001 9.338-9.339l-.01-.425A6.554 6.554 0 0 0 16 3.538z"
                fill="currentColor"
                fill-rule="nonzero"
              ></path>
            </g>
          </svg> </a
        ><a href="">
          <svg>
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h16v16H0z"></path>
              <path
                d="M11.52 0H4.392A4.396 4.396 0 0 0 0 4.391v7.13a4.396 4.396 0 0 0 4.391 4.39h7.13a4.396 4.396 0 0 0 4.39-4.39V4.39A4.396 4.396 0 0 0 11.522 0zm2.98 11.52a2.983 2.983 0 0 1-2.98 2.98H4.392a2.983 2.983 0 0 1-2.98-2.98V4.392a2.983 2.983 0 0 1 2.98-2.98h7.13a2.983 2.983 0 0 1 2.979 2.98v7.13z"
                fill="#FFF"
                fill-rule="nonzero"
              ></path>
              <path
                d="M7.956 3.856c-2.26 0-4.1 1.84-4.1 4.1s1.84 4.1 4.1 4.1 4.1-1.84 4.1-4.1-1.84-4.1-4.1-4.1zm0 6.788a2.691 2.691 0 0 1-2.688-2.688 2.691 2.691 0 0 1 2.688-2.688 2.691 2.691 0 0 1 2.688 2.688 2.691 2.691 0 0 1-2.688 2.688zM12.228 2.659a1.04 1.04 0 0 0-1.035 1.035c0 .272.11.54.304.732.192.192.459.304.73.304.274 0 .54-.112.733-.304a1.04 1.04 0 0 0 0-1.464 1.04 1.04 0 0 0-.732-.303z"
                fill="currentColor"
                fill-rule="nonzero"
              ></path>
            </g>
          </svg> </a
        ><a href="">
          <svg>
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h16v16H0z"></path>
              <path
                d="M15.746 8.478L4.638 13.776A.446.446 0 0 1 4 13.373V2.447c0-.333.35-.549.647-.398l11.109 5.629a.446.446 0 0 1-.01.8z"
                fill="currentColor"
              ></path>
            </g>
          </svg>
        </a>
      </div>
      <address class="element__adress footer__adress">
        АТ «УНІВЕРСАЛ БАНК» Ліцензія НБУ №92 від 20.01.1994, Номер у держреєстрі
        банків № 226
      </address>
      <p class="content__text footer__text">
        Банк є учасником
        <a class="link footer__link_content" href=""
          >Фонду гарантування вкладів фізичних осіб</a
        >
      </p>
    </li>
  </ul>
</footer>

