<section class="container open-count">
  <h2 class="content__header open-count__header">{{translation.header}}</h2>
  <ol class="elements open-count__elements-container">
    <li class="elements-container__element open-count__element">
      <div><img src="" alt="" /></div>
      <div class="element-content open-count__content">
        <p class="content__text open-count__text">
          {{translation.first.text}}
        </p>
      </div>
    </li>
    <li class="elements-container__element open-count__element">
      <div><img src="" alt="" /></div>
      <div class="element-content open-count__content">
        <p class="content__text open-count__text">
          {{translation.second.text}}
        </p>
      </div>
    </li>
    <li class="elements-container__element open-count__element">
      <div><img src="" alt="" /></div>
      <div class="element-content open-count__content">
        <p class="content__text open-count__text">
          {{translation.second.text}}
        </p>
      </div>
    </li>
  </ol>
</section>
