<section class="container main-section">
  <div class="section-content main-section__content">
    <h1 class="content__header main-section__header">
      {{translation.header}}
    </h1>
    <p class="content__text main-section__text">
{{translation.text}}
    </p>
    <form class="content__form">
      <input
        class="form__input input__tel"
        type="tel"
        placeholder="+380(XX) XXX-XX-XX"
        name=""
        id=""
      />
      <button class="form__button" type="submit">{{translation.button}}</button>
    </form>
  </div>
  <div class="image-container main-section__image">
    <img class="image__image-instance" src="" alt="" />
  </div>
</section>
