<section class="container cabinet">
  <div class="image-container cabinet__image">
    <img class="image__image-instance" src="" alt="" />
  </div>
  <div class="section-content main-section__content">
    <h2 class="content__header cabinet__header">{{ translation.header }}</h2>
    <p class="content__text cabinet__text">
      {{ translation.text1 }}
    </p>
    <p class="content__text cabinet__text">
      {{ translation.text2 }}
    </p>
    <button class="button cabinet__button">{{ translation.button }}</button>
  </div>
</section>
