<header class="header-continer">
  <div class="header-main">
    <ul class="header-main__links">
      <!-- i don`t know how to better name link element for understanding -> links__element or links__link  -->
      <li class="links__link header-main__links"><a href="">дашбоард</a></li>
      <li class="links__link header-main__links"><a href="">API</a></li>
      <li class="links__link header-main__links"><a href="">Контакти</a></li>
      <li class="links__link header-main__links">
        <select class="links__link header-main__links" name="" id="">
          <option value="">Укр</option>
          <option value="">Eng</option>
        </select>
      </li>
    </ul>
  </div>
  <div class="header-additional">
    <div class="logo header-additional__logo">
      <a href="">monobank <span> Universal bank </span></a>
      <ul class="header-additional-links">
        <li class="links__link header-additional__link"><a href="">Картки</a></li>
        <li class="links__link header-additional__link"><a href="">ФОП</a></li>
        <li class="links__link header-additional__link">
          <a href="">Депозити</a>
        </li>
        <li class="links__link header-additional__link">
          <a href="">облігації</a>
        </li>
        <li class="links__link header-additional__link">
          <a href=""> Покупка частинами</a>
        </li>
        <li class="links__link header-additional__link">
          <a href=""> Міжнародні перекази</a>
        </li>
      </ul>
    </div>
  </div>
</header>

