<!-- may be its better to write like this header_main, header_additional because main and additional it can be modifiers -->
<app-header [translation]="translationUAobject.header"></app-header>
<router-outlet ></router-outlet>
<!-- <app-main [translation]="translationUAobject.main"></app-main>
<app-cabinet [translation]="translationUAobject.cabinet"></app-cabinet>
<app-open-count [translation]="translationUAobject.openCount"></app-open-count>
<app-you-waiting [translation]="translationUAobject.youWaiting"></app-you-waiting>
<app-tarifs [translation]="translationUAobject.tarifs"></app-tarifs>
<app-card [translation]="translationUAobject.card"></app-card> -->















