
<mat-toolbar>
  <div>
    sing-up with firebase
    <span *ngIf = "user$ | async as user">{{user.email}}</span>
  </div>

    <ng-container *ngIf="authService.currentUser$ | async sa user; else loginButton">
      <button mat-button  (click) = "logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-button routerLink = "login">
        <mat-icon>login</mat-icon>
        login
      </button>
    </ng-template>

</mat-toolbar>

<router-outlet  ></router-outlet>
















